@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: rgb(245, 0, 86);

  --text-color-light: rgb(0, 0, 0);
  --background-color-light: rgb(255, 255, 255);

  --text-color-dark: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
}

html.dark {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
}

html.light {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
