@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(245, 0, 86);

  --text-color-light: rgb(0, 0, 0);
  --background-color-light: rgb(255, 255, 255);
  --text-grey-color-light: rgb(86, 86, 86);
  --divider-color-light: rgb(235 234 234);
  --sheet-background-color-light: rgb(255, 198, 218);

  --text-color-dark: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --text-grey-color-dark: rgb(156 163 175);
  --divider-color-dark: rgb(30, 30, 30);
  --sheet-background-color-dark: rgb(41, 0, 14);
}

html.dark {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --text-grey-color: var(--text-grey-color-dark);
  --divider-color: var(--divider-color-dark);
  --sheet-background-color: var(--sheet-background-color-dark);
}

html.light {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --text-grey-color: var(--text-grey-color-light);
  --divider-color: var(--divider-color-light);
  --sheet-background-color: var(--sheet-background-color-light);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.root-container {
  @apply pt-16 lg:pt-0;
}

.text-hover:hover {
  color: var(--text-color);
}

.text-grey-color {
  color: var(--text-grey-color);
}

.background-color {
  background-color: var(--background-color);
}

.rounded-button {
  @apply transition-all text-center text-sm font-semibold 
  py-2 px-5 rounded-full text-white;
  background-color: var(--primary-color);
}

.rounded-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.navbar {
  @apply hidden lg:flex justify-between items-center w-full py-4 gap-4 px-6 sm:px-24;
  border-bottom: solid 1px;
  border-color: var(--divider-color);
}

.mobile-nav {
  @apply flex justify-between items-center fixed h-16 w-full p-5 lg:hidden;
  border-bottom: solid 1px;
  border-color: var(--divider-color);
  background-color: var(--background-color);
}

.sheet-background-color {
  background-color: var(--sheet-background-color);
}

.header-nav_elements {
  @apply mt-8 flex w-full flex-col items-start gap-5;
}

.editortabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 
  focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 141, 194, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.file-upload {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #ff1d5e;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #ff1d5e;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
